@reference '../app/globals.css';

.navContainer {
    @apply flex justify-between items-center px-6 md:px-12 py-4 bg-white/70 backdrop-blur-md border-b border-white/20 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07)] fixed top-0 left-0 right-0 select-none z-[100] transition-all duration-300;
}