@reference '../app/globals.css';

.videoContainer{
    @apply w-full pointer-events-none relative z-0;

    & video{
        @apply w-full h-[100vh] object-cover;
    }
}

.floatArrow {
    @apply flex justify-center items-center relative h-0 top-[-2.5rem];

    & span {
        @apply animate-bounce;
    }
}

.contentContainer{
    @apply flex flex-col justify-center;

    & > div{
        @apply w-[100%] text-center mx-auto h-[auto];
    }
}

.floatCenterText{
    @apply absolute top-[50%] left-[50%] transform -translate-x-1/2 -translate-y-1/2 text-2xl text-white;
}

.doctorProfilePic{
    @apply relative w-28 h-28 sm:w-32 sm:h-32 md:w-44 md:h-44 lg:w-56 lg:h-56 xl:w-64 xl:h-64 2xl:w-72 2xl:h-72 shrink-0
}
