@reference '../app/globals.css';

.videoContainer{
    @apply w-full pointer-events-none;

    & video{
        @apply w-full max-h-[100vh] object-cover;
    }
}

.floatArrow {
    @apply flex justify-center items-center relative h-0 top-[-2.5rem];

    & span {
        @apply animate-bounce;
    }
}

.contentContainer{
    @apply flex flex-col justify-center;

    & > div{
        @apply w-[100%] text-center mx-auto h-[33vh];
    }
}
